# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/.vs/engine/v17/.suo
*.db-shm
*.db
*.vsidx
*.opendb
*.db-wal
*.ipch
*.user
*.log
*.txt
src/.vs/engine/v17/fileList.bin
src/.vs/Eom/v17/.suo
src/.vs/Eom/FileContentIndex/read.lock
src/.vs/Eom/FileContentIndex/write.lock
*.bak
